@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    /* body에는 기본 글꼴 설정 - P에 적용*/
    font-size: 17px;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.4;
}
* { /*(별모양선택자) 와이드카드라고 함. 모든 태그를 지칭*/
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
.tit {
    color: #435ce7;
    text-align: center;
}
    h1 {
        font-size: 45px;
        font-weight: 700;
        margin: 117px 0 26px 0;
    }
    h2 {
        font-size: 35px;
        font-weight: 700;
        color: #1d1d1d;
        margin: 104px 0 14px 0;
    }
    h3 {
        font-size: 25px;
        font-weight: 700;
        color: #1d1d1d;
        margin: 65px 0 8px 0;
    }