@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 28px 0 0 0;
}
header .gnb .gnb_open, header .gnb .gnb_close {
    display: none;
}
header .gnb .gnb_wrap ul {
    display: flex;
    justify-content: space-between;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    color: #555;
    font-size: 22px;
    letter-spacing: -0.05em;
    line-height: 100px;
    padding: 0 21px; /*메뉴 간격의 1/2너비를 양쪽에 줌*/
}
header .gnb .gnb_wrap ul li a span {
    position: relative;
}
header .gnb .gnb_wrap ul li a span::after {
    content: "";
    position: absolute; /*span 태그 기준으로 정렬*/
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 3px;
    background-color: #255698;
    display: none;
}
header .gnb .gnb_wrap ul li a:hover {
    color: #1d1d1d;
    font-weight: 500;
}
header .gnb .gnb_wrap ul li a:hover span::after {
    display: block;
}
@media screen and (max-width:640px) {
    header {
        height: 50px;
        position: relative;
    }
    header .logo {
        margin: 13px 0 0 0;
    }
    header .logo a img {
        width: 89px;
        /*너비든 높이든 하나만 줘라. 자동 비율*/
    }
    header .gnb .gnb_open {
        display: block;
        position: absolute; /*header 기준*/
        top: 0;
        right: 0;
        width: 60px;
        height: 50px;
        font-size: 0; /*텍스트 없앨 때 0*/
        line-height: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.068' height='13.973' viewBox='0 0 19.068 13.973'%3E%3Cpath id='menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.059-706.027a.98.98,0,0,1-.755-.335,1.187,1.187,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.98.98,0,0,1,.755-.335h16.949a.98.98,0,0,1,.755.335,1.187,1.187,0,0,1,.3.83,1.187,1.187,0,0,1-.3.83.98.98,0,0,1-.755.335Zm0-5.822a.979.979,0,0,1-.755-.335,1.186,1.186,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.981.981,0,0,1,.755-.334h16.949a.981.981,0,0,1,.755.334,1.187,1.187,0,0,1,.3.83,1.186,1.186,0,0,1-.3.83.979.979,0,0,1-.755.335Zm0-5.822a.979.979,0,0,1-.755-.335,1.187,1.187,0,0,1-.3-.83,1.187,1.187,0,0,1,.3-.83.98.98,0,0,1,.755-.335h16.949a.98.98,0,0,1,.755.335,1.187,1.187,0,0,1,.3.83,1.187,1.187,0,0,1-.3.83.979.979,0,0,1-.755.335Z' transform='translate(-120 720)' fill='%23555'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 19px;
        /*background-size 하나만 쓰면 너비 > 비율대로 높이 들어감*/
    }
    header .gnb .gnb_wrap ul {
        display: flex;
        justify-content: space-between;
    }
    header .gnb .gnb_wrap{
        display: none;
    }
}
/*------------------------------------------------------------------------------------*/

.visual {
    height: 800px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff
}
.visual strong {
    display: block;
    font-size: 17px;
    padding: 291px 0 5px 0;
}
.visual h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
@media screen and (max-width:640px) {
    .visual {
        height: auto;
        padding: 0 0 64px 0;
    }
    .visual strong {
        font-size: 15px;
        padding: 145px 0 5px 0;
    }
    .visual h2 {
        font-size: 25px;
    }
}

/*------------------------------------------------------------------------------------*/

.int {
    margin: 136px 0 0 0;
}
.int .text_left {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.int .inner {
    width: 511px;
}
.int strong {
    color: #255698;
}
.int h2  {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -0.02em;
    margin: 8px 0;
}
.int h2 em {
    color: #255698;
}
.int p.sub_tit {
    font-size: 20px;
    margin: 0 0 14px 0 ;
}
.int .btn_wrap {
    margin: 37px 0 0 0;
    display: flex;
    gap: 10px;
}
.int .btn_wrap a {
    display: block;
    color: #255698;
    border-radius: 25px;
    border: 1px solid #255698;
    padding: 12px 30px;
}
.int .btn_wrap a.point {
    color: #fff;
    background-color: #255698;
}
.int .btn_wrap a:hover {
    color: #fff;
    background-color: #229EA0;
    border: 1px solid #229EA0;
}
.int .photo {
    height: 568px;
    border-radius: 30px;
    overflow: hidden;
}
.int .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.int .text_right {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse; /*좌우 반전*/
    align-items: center;
}

@media screen and (max-width:640px) {
    .int {
        margin: 61px 0 0 0;
    }
    .int .text_left {
        display: block;
    }
    .int .inner {
        width: auto;
    }
    .int h2  {
        font-size: 25px;
        line-height: 1.2;
        margin: 6px 0 9px 0;
    }
    .int p.sub_tit {
        font-size: 17px;
        margin: 0 0 13px 0 ;
    }
    .int .btn_wrap {
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap; /*모바일 화면 사이즈에 따라, 버튼 개수에 따라 줄바꿈이 필요한 경우*/
        gap: 5px;
    }
    .int .btn_wrap a {
        padding: 9px 19px;
    }
    .int .photo {
        height: 168px;
        border-radius: 15px;
    }
    .int .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .int .text_right {
        display: block;
        margin: 58px 0 0 0; 
    }
    
}/*media*/
/*------------------------------------------------------------------------------------*/

.pr {
    margin: 140px 0 0 0;
    color: #fff;
    position: relative;
}
.pr::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 882px;
    background: url(../images/pr_bg.jpg) no-repeat center top / cover;
    z-index: -1;
}
.pr .news {
    padding: 137px 0 0 0;
}
.pr .news .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.pr .news .more {
    position: absolute;
    left: 0;
    top: 208px;
}
.pr .news .tit strong {
    color: #66d7d1;
}
.pr .news .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 8px 0 12px 0;
}
.pr .news .tit em {
    color: #66d7d1;
}
.pr .news .list {
    width: 725px;
}
.pr .news .list ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.pr .news .list ul li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0 );
}
.pr .news .list ul li a {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 25px 0;
}
.pr .news .list ul li a strong {
    font-size: 20px;
    width: calc(100% - 172px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pr .news .list ul li a:hover strong {
    font-weight: 600;
}
.pr .news .list ul li a span {
    color: rgba(225, 225, 225, 0.8);
}
.pr .news .more a {
    padding: 12px 30px;
    border: 1px solid #fff;
    border-radius: 25px;
    display: inline-block;
}
.pr .news .more a:hover {
    background-color: #229EA0;
    border: 1px solid #229EA0;
}
.pr .news .more a span {
    display: none;
}
.pr .video .list ul {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:640px) {
    .pr {
        margin: 60px 0 0 0;
    }
    .pr::before {
        display: none; /*배경을 주는 대상이 변경되어 숨김*/
    }
    .pr .news {
        padding: 65px 0 65px 0;
        background: url(../images/pr_bg.jpg) no-repeat center center / cover;
    }
    .pr .news .wrapper {
        display: block;
    }
    .pr .news .more {
        position: relative;
        left: auto;
        top: auto;
        margin: 40px 0 0 0;
        text-align: center;
    }
    .pr .news .more a {
        padding: 8px 44px 8px 20px;
        position: relative;
    }
    .pr .news .more a::after {
        content: "";
        position: absolute;
        top: 15px;
        right: 18px;
        width: 5px;
        height: 8px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.684' height='7.973' viewBox='0 0 4.684 7.973'%3E%3Cpath id='chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M339.985-699.014,337.2-701.8a.678.678,0,0,1-.2-.5.678.678,0,0,1,.2-.5.678.678,0,0,1,.5-.2.678.678,0,0,1,.5.2l3.289,3.289a.627.627,0,0,1,.152.232.792.792,0,0,1,.045.268.791.791,0,0,1-.045.268.626.626,0,0,1-.152.232l-3.289,3.289a.678.678,0,0,1-.5.2.678.678,0,0,1-.5-.2.678.678,0,0,1-.2-.5.678.678,0,0,1,.2-.5Z' transform='translate(-337 703)' fill='%23fff'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .pr .news .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.684' height='7.973' viewBox='0 0 4.684 7.973'%3E%3Cpath id='chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M339.985-699.014,337.2-701.8a.678.678,0,0,1-.2-.5.678.678,0,0,1,.2-.5.678.678,0,0,1,.5-.2.678.678,0,0,1,.5.2l3.289,3.289a.627.627,0,0,1,.152.232.792.792,0,0,1,.045.268.791.791,0,0,1-.045.268.626.626,0,0,1-.152.232l-3.289,3.289a.678.678,0,0,1-.5.2.678.678,0,0,1-.5-.2.678.678,0,0,1-.2-.5.678.678,0,0,1,.2-.5Z' transform='translate(-337 703)' fill='%23ffffff'/%3E%3C/svg%3E%0A"); 
    }
    .pr .news .more a span {
        display: inline;    
    }
    .pr .news .tit h2 {
        font-size: 25px;
        margin: 4px 0 8px 0;
    }
    .pr .news .list {
        width: auto;
        margin: 36px 0 0 0;
    }
    .pr .news .list ul li:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.4 );
    }
    .pr .news .list ul li a {
        padding: 14px 0;
    }
    .pr .news .list ul li a strong {
        font-size: 17px;
        width: calc(100% - 88px);
    }
    .pr .news .list ul li a span {
        color: rgba(225, 225, 225, 0.8);
    }
}
/*------------------------------------------------------------------------------------*/
.pr .video {
    margin: 177px 0 0 0;
}
.pr .video .wrapper {
    position: relative;
}
.pr .video .tit strong {
    color: #66d7d1;
}
.pr .video .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 8px 0 28px 0;
}
.pr .video .tit em {
    color: #66d7d1;
}
.pr .video .tit br {
    display: none;
}
.pr .video .list ul {
    display: flex;
    justify-content: space-between;
}
.pr .video .list ul li {
    width: calc(33.33% - 16px);
}
.pr .video .list ul li a {
    display: block;
    color: #1d1d1d;
}
.pr .video .list ul li a .photo {
    height: 227px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #255698;
}
.pr .video .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.pr .video .list ul li a:hover .photo img {
    transform: scale3d(1.1,  1.1, 1);
}
.pr .video .list ul li a p {
    overflow: visible;
    padding: 20px 14px 0 14px;
}
.pr .video .list ul li a:hover p {
    font-weight: 600;
}
.pr .video .more {
    position: absolute;
    right: 0;
    top: 33px;
    text-align: center;
}
.pr .video .more a {
    display: block;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 12px 30px;
}
.pr .video .more a span {
    display: none;
}
.pr .video .more a:hover {
    background-color: #229EA0;
    border: 1px solid #229EA0;
    color: #fff;
}

@media screen and (max-width:640px) {
    .pr .video {
        margin: 69px 0 0 0;
        color: #1d1d1d;
    }
    .pr .video .tit strong {
        color: #255698;
    }
    .pr .video .tit h2 {
        font-size: 25px;
        margin: 4px 0 27px 0;
    }
    .pr .video .tit em {
        color: #255698;
    }
    .pr .video .tit br {
        display: block;
    }
    .pr .video .list ul {
        display: flex;
        justify-content: space-between;
    }
    .pr .video .list ul li {
        width: calc(50% - 8px);
    }
    .pr .video .list ul li:last-child {
        display: none;
    }
    .pr .video .list ul li a .photo {
        height: 98px;
        border-radius: 10px;
        border-width: 0px;
    }
    .pr .video .list ul li a .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
    }
    .pr .video .list ul li a:hover .photo img {
        transform: scale3d(1.1,  1.1, 1);
    }
    .pr .video .list ul li a p {
        overflow: visible;
        padding: 11px 0 0 0;
    }
    .pr .video .list ul li a:hover p {
        font-weight: 600;
    }
    .pr .video .more {
        position: relative;
        right: auto;
        top: auto;
    }    
    .pr .video .more a {
        display: inline-block;
        border: 1px solid #255698;
        color: #255698;
        border-radius: 25px;
        padding: 8px 48px 8px 24px;
        position: relative;
        margin: 37px 0 0 0;
    }
    .pr .video .more a::after {
        content: "";
        position: absolute;
        right: 20px;
        top: 14px;
        width: 5px;
        height: 8px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.684' height='7.973' viewBox='0 0 4.684 7.973'%3E%3Cpath id='chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M339.985-699.014,337.2-701.8a.678.678,0,0,1-.2-.5.678.678,0,0,1,.2-.5.678.678,0,0,1,.5-.2.678.678,0,0,1,.5.2l3.289,3.289a.627.627,0,0,1,.152.232.792.792,0,0,1,.045.268.791.791,0,0,1-.045.268.626.626,0,0,1-.152.232l-3.289,3.289a.678.678,0,0,1-.5.2.678.678,0,0,1-.5-.2.678.678,0,0,1-.2-.5.678.678,0,0,1,.2-.5Z' transform='translate(-337 703)' fill='%23255698'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .pr .video .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.684' height='7.973' viewBox='0 0 4.684 7.973'%3E%3Cpath id='chevron_right_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M339.985-699.014,337.2-701.8a.678.678,0,0,1-.2-.5.678.678,0,0,1,.2-.5.678.678,0,0,1,.5-.2.678.678,0,0,1,.5.2l3.289,3.289a.627.627,0,0,1,.152.232.792.792,0,0,1,.045.268.791.791,0,0,1-.045.268.626.626,0,0,1-.152.232l-3.289,3.289a.678.678,0,0,1-.5.2.678.678,0,0,1-.5-.2.678.678,0,0,1-.2-.5.678.678,0,0,1,.2-.5Z' transform='translate(-337 703)' fill='%23ffffff'/%3E%3C/svg%3E%0A");
    }
    .pr .video .more a span {
        display: inline;
    }
}

/*------------------------------------------------------------------------------------*/
footer {
    margin: 135px 0 0 0;
    background-color: #202020;
    color: rgba(255, 255, 255, 0.8);
    padding: 68px 0;
}
footer .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 30px;
}
footer .f_nav ul li {
    position: relative;
}
footer .f_nav ul li::after {
    content: "";
    position: absolute;
    top: 4px;
    right: -15px;
    width: 1px;
    height: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
footer .f_nav ul li:last-child:after {
    display: none;
}
footer .f_nav ul li.primary {
    color: #66D7D1;
    font-weight: 600;
}
footer .f_info {
    margin: 35px 0 30px 0;
}
footer .f_info span {
    margin-right: 10px;
    display: inline-block;
    /*모바일에서 한 단락씩 줄바꿈 되도록*/
}
footer .copyright {
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width:640px) {
    footer {
        margin: 91px 0 0 0;
        padding: 42px 0;
        font-size: 13px;
    }
    footer .f_nav ul {
        gap: 6px 30px;
    }
    footer .f_nav ul li::after {
        top: 3px;
        height: 11px;
    }
    footer .f_info {
        margin: 30px 0 32px 0;
    }
}