@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.4;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}

/*시작*/
header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 34px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    font-size: 22px;
    color: #1d1d1d;
    padding: 33px 25px 33px 25px;
    display: block;
    /*a태그는 무조건 block*/
}

.visual {
    height: 700px;
    background: url(../images/visual_bg.png) no-repeat center center /cover;
    color: #fff;
    text-align: left;
}
.visual h2 {
    font-size: 55px;
    line-height: 1.1;
    padding: 164px 0 14px 0;
    letter-spacing: -0.02em;
}
.visual h2 strong {
    font-weight: 800;
}