@import url(default.css); /*default.css를 이 문서에 복사해 넣은 것과 같음*/
@import url(fonts.css);
@import url(common.css);

.icon h2 {
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 120px 0 12px 0;
}
.icon h3 {
    font-size: 35px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 38px 0 12px 0;
    /*마진이 중첩되는 경우 더 큰 수가 적용됨*/
}
.svg_img .more {
    margin: 80px 0;
}
.svg_img .more a {
    display: flex;
    align-items: center;
    width: 150px;
    border: 1px solid #555555;
    padding: 10px 10px 10px 20px;
    border-radius: 25px;
}
.svg_img .more a strong {
    margin-right: 20px;
}
.svg_img .list ul {
    display: flex;
}
.svg_img .list ul li {
    width: 100px;
    margin-right: 10px;
}
.svg_img .list ul li a {
    display: block;
    text-align: center;
}
.svg_img .list ul li a .photo {
    width: 63px;
    height: 63px;
    background-color: #f4f4f4;
    border-radius: 50%; /*원형을 그릴 땐 %로 높이의 절반*/
    display: inline-block;
    padding-top: 15px;
    margin-bottom: 10px;
}
/*----------------------------------------------------------------------------------------*/
.svg_bg .more {
    margin: 80px 0;
}
.svg_bg .more a {
    display: inline;
    border: 1px solid #555555;
    padding: 10px 50px 10px 20px;
    border-radius: 25px;
    background: url(../images/more_icon.svg) no-repeat right 10px top 8px;
}
.svg_bg .more a:hover {
    border-color: #1A73E8;
    color: #fff;
    background-color: #1A73E8;
    background-image: url(../images/more_icon_w.svg);
}
.svg_bg .list ul {
    display: flex;
}
.svg_bg .list ul li {
    width: 100px;
    margin-right: 10px;
}
.svg_bg .list ul li a {
    display: block;
    text-align: center;
}
.svg_bg .list ul li a i {
    width: 63px;
    height: 63px;
    background-color: #f4f4f4;
    border-radius: 50%; /*원형을 그릴 땐 %로 높이의 절반*/
    display: inline-block;
    margin-bottom: 10px;
    /*모든 배경의 위치와 여백이 같고 경로만 다르니까*/
    background-repeat: no-repeat;
    background-position: center center;
}
.svg_bg .list ul li a:hover i {
    background-color: #1A73E8;
}
.svg_bg .list ul li.ico1 a i {
    background-image: url(../images/link_icon1.svg);
}
.svg_bg .list ul li.ico2 a i {
    background-image: url(../images/link_icon2.svg);
}
.svg_bg .list ul li.ico3 a i {
    background-image: url(../images/link_icon3.svg);
}
.svg_bg .list ul li.ico4 a i {
    background-image: url(../images/link_icon4.svg);
}
.svg_bg .list ul li.ico1 a:hover i {
    background-image: url(../images/link_icon1_w.svg);
}
.svg_bg .list ul li.ico2 a:hover i {
    background-image: url(../images/link_icon2_w.svg);
}
.svg_bg .list ul li.ico3 a:hover i {
    background-image: url(../images/link_icon3_w.svg);
}
.svg_bg .list ul li.ico4 a:hover i {
    background-image: url(../images/link_icon4_w.svg);
}
/*----------------------------------------------------------------------------------------*/
.svg_bf .more {
    margin: 80px 0;
}
.svg_bf .more a {
    display: inline;
    border: 1px solid #555555;
    padding: 10px 50px 10px 20px;
    border-radius: 25px;
    position: relative; /*after 정렬의 기준*/
}
.svg_bf .more a::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    width: 24px;
    height: 24px; /*배경이 들어갈 너비와 높이가 필요*/
    background: url(../images/more_icon.svg) no-repeat center center;
}
.svg_bf .more a:hover::after {
    background-image: url(../images/more_icon_w.svg);
}

.svg_bf .more a:hover {
    border-color: #1A73E8;
    color: #fff;
    background-color: #1A73E8;
}
.svg_bf .list ul {
    display: flex;
}
.svg_bf .list ul li {
    width: 100px;
    margin-right: 10px;
}
.svg_bf .list ul li a {
    display: block;
    text-align: center;
    position: relative; /*before 정렬의 기준*/
    padding-top: 70px;
}
/* a사이즈는 현재 100px인데 a::before가 70px이고
이걸 a 안에 가운데 정렬을 하고 싶음
1. left를 15pxp 줌 (100-70=30/2 > 15)
2. left를 50% 줘서 가운데에서 시작하고 너비의 절반을 빼준다
    width : calc(50%-18px)
3. left를 50%줘서 가운데에서 시작하고
    transform: translateX(-50%)
    너의 너비의 절반을 왼쪽으로 이동
    ==> 장점 : 너비를 몰라도 줄 수가 있음*/
.svg_bf .list ul li a::before {
    content: ""; /*선택자를 제대로 했는지 보이게 하는 용도*/
    position: absolute; /*a를 기준으로 정렬(필수)*/
    left: 50%; /*정렬의 기준 a를 기준으로 50%*/
    transform: translateX(-50%); /*before의 너비의 50%*/
    top: 0;
    width: 63px;
    height: 63px;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
} 
.svg_bf .list ul li.ico1 a::before {
    background-image: url(../images/link_icon1.svg);
} 
.svg_bf .list ul li.ico2 a::before {
    background-image: url(../images/link_icon2.svg);
} 
.svg_bf .list ul li.ico3 a::before {
    background-image: url(../images/link_icon3.svg);
} 
.svg_bf .list ul li.ico4 a::before {
    background-image: url(../images/link_icon4.svg);
}
.svg_bf .list ul li a:hover:before {
    background-color: #1A73E8;
}
.svg_bf .list ul li.ico1 a:hover::before {
    background-image: url(../images/link_icon1_w.svg);
} 
.svg_bf .list ul li.ico2 a:hover::before {
    background-image: url(../images/link_icon2_w.svg);
} 
.svg_bf .list ul li.ico3 a:hover::before {
    background-image: url(../images/link_icon3_w.svg);
} 
.svg_bf .list ul li.ico4 a:hover::before {
    background-image: url(../images/link_icon4_w.svg);
}
/*----------------------------------------------------------------------------------------*/
.g_icon .more {
    margin: 80px 0;
}
.g_icon .more a {
    display: inline;
    border: 1px solid #555555;
    padding: 10px 50px 10px 20px;
    border-radius: 25px;
    position: relative; /*after 정렬의 기준*/
}
.g_icon .more a i {
    font-size: 24px; /*폰트css를 활용하므로 크기도 font-size로 조절*/
    color: #555555;
    position: absolute;
    right: 11px;
    top: 9px;
}
.g_icon .more a:hover {
    border-color: #1A73E8;
    color: #fff;
    background-color: #1A73E8;
}
.g_icon .more a:hover i {
    color: #fff;
}
body {
    margin-bottom: 500px;
}