@import url(default.css); /*default.css를 이 문서에 복사해 넣은 것과 같음*/
@import url(fonts.css);
@import url(common.css);

.icon h2 {
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 120px 0 12px 0;
}
.icon h3 {
    font-size: 35px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 38px 0 12px 0;
    /*마진이 중첩되는 경우 더 큰 수가 적용됨*/
}
.svg_img .more {
    margin: 80px 0;
}
.svg_img .more a {
    display: flex;
    align-items: center;
    width: 150px;
    border: 1px solid #555555;
    padding: 10px 10px 10px 20px;
    border-radius: 25px;
}
.svg_img .more a strong {
    margin-right: 20px;
}
.svg_img .list ul {
    display: flex;
}
.svg_img .list ul li {
    width: 100px;
    margin-right: 10px;
}
.svg_img .list ul li a {
    display: block;
    text-align: center;
}
.svg_img .list ul li a .photo {
    width: 63px;
    height: 63px;
    background-color: #f4f4f4;
    border-radius: 50%; /*원형을 그릴 땐 %로 높이의 절반*/
    display: inline-block;
    padding-top: 15px;
    margin-bottom: 10px;
}
/*----------------------------------------------------------------------------------------*/
.svg_bg .more {
    margin: 80px 0;
}
.svg_bg .more a {
    display: inline;
    border: 1px solid #555555;
    padding: 10px 50px 10px 20px;
    border-radius: 25px;
    background: url(../images/more_icon.svg) no-repeat right 10px top 8px;
}
.svg_bg .more a:hover {
    border-color: #1A73E8;
    color: #fff;
    background-color: #1A73E8;
    background-image: url(../images/more_icon_w.svg);
}
.svg_bg .list ul {
    display: flex;
}
.svg_bg .list ul li {
    width: 100px;
    margin-right: 10px;
}
.svg_bg .list ul li a {
    display: block;
    text-align: center;
}
.svg_bg .list ul li a i {
    width: 63px;
    height: 63px;
    background-color: #f4f4f4;
    border-radius: 50%; /*원형을 그릴 땐 %로 높이의 절반*/
    display: inline-block;
    margin-bottom: 10px;
    /*모든 배경의 위치와 여백이 같고 경로만 다르니까*/
    background-repeat: no-repeat;
    background-position: center center;
}
.svg_bg .list ul li a:hover i {
    background-color: #1A73E8;
}
.svg_bg .list ul li.ico1 a i {
    background-image: url(../images/link_icon1.svg);
}
.svg_bg .list ul li.ico2 a i {
    background-image: url(../images/link_icon2.svg);
}
.svg_bg .list ul li.ico3 a i {
    background-image: url(../images/link_icon3.svg);
}
.svg_bg .list ul li.ico4 a i {
    background-image: url(../images/link_icon4.svg);
}
.svg_bg .list ul li.ico1 a:hover i {
    background-image: url(../images/link_icon1_w.svg);
}
.svg_bg .list ul li.ico2 a:hover i {
    background-image: url(../images/link_icon2_w.svg);
}
.svg_bg .list ul li.ico3 a:hover i {
    background-image: url(../images/link_icon3_w.svg);
}
.svg_bg .list ul li.ico4 a:hover i {
    background-image: url(../images/link_icon4_w.svg);
}
/*----------------------------------------------------------------------------------------*/
.svg_bf .more {
    margin: 80px 0;
}
.svg_bf .more a {
    display: inline;
    border: 1px solid #555555;
    padding: 10px 50px 10px 20px;
    border-radius: 25px;
    position: relative; /*after 정렬의 기준*/
}
.svg_bf .more a::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    width: 24px;
    height: 24px; /*배경이 들어갈 너비와 높이가 필요*/
    background: url(../images/more_icon.svg) no-repeat center center;
}
.svg_bf .more a:hover::after {
    background-image: url(../images/more_icon_w.svg);
}

.svg_bf .more a:hover {
    border-color: #1A73E8;
    color: #fff;
    background-color: #1A73E8;
}
.svg_bf .list ul {
    display: flex;
}
.svg_bf .list ul li {
    width: 100px;
    margin-right: 10px;
}
.svg_bf .list ul li a {
    display: block;
    text-align: center;
    position: relative; /*before 정렬의 기준*/
    padding-top: 70px;
}
/* a사이즈는 현재 100px인데 a::before가 70px이고
이걸 a 안에 가운데 정렬을 하고 싶음
1. left를 15pxp 줌 (100-70=30/2 > 15)
2. left를 50% 줘서 가운데에서 시작하고 너비의 절반을 빼준다
    width : calc(50%-18px)
3. left를 50%줘서 가운데에서 시작하고
    transform: translateX(-50%)
    너의 너비의 절반을 왼쪽으로 이동
    ==> 장점 : 너비를 몰라도 줄 수가 있음*/
.svg_bf .list ul li a::before {
    content: ""; /*선택자를 제대로 했는지 보이게 하는 용도*/
    position: absolute; /*a를 기준으로 정렬(필수)*/
    left: 50%; /*정렬의 기준 a를 기준으로 50%*/
    transform: translateX(-50%); /*before의 너비의 50%*/
    top: 0;
    width: 63px;
    height: 63px;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
} 
.svg_bf .list ul li.ico1 a::before {
    background-image: url(../images/link_icon1.svg);
} 
.svg_bf .list ul li.ico2 a::before {
    background-image: url(../images/link_icon2.svg);
} 
.svg_bf .list ul li.ico3 a::before {
    background-image: url(../images/link_icon3.svg);
} 
.svg_bf .list ul li.ico4 a::before {
    background-image: url(../images/link_icon4.svg);
}
.svg_bf .list ul li a:hover:before {
    background-color: #1A73E8;
}
.svg_bf .list ul li.ico1 a:hover::before {
    background-image: url(../images/link_icon1_w.svg);
} 
.svg_bf .list ul li.ico2 a:hover::before {
    background-image: url(../images/link_icon2_w.svg);
} 
.svg_bf .list ul li.ico3 a:hover::before {
    background-image: url(../images/link_icon3_w.svg);
} 
.svg_bf .list ul li.ico4 a:hover::before {
    background-image: url(../images/link_icon4_w.svg);
}
/*----------------------------------------------------------------------------------------*/
.g_icon .more {
    margin: 80px 0;
}
.g_icon .more a {
    display: inline;
    border: 1px solid #555555;
    padding: 10px 50px 10px 20px;
    border-radius: 25px;
    position: relative; /*after 정렬의 기준*/
}
.g_icon .more a i {
    font-size: 24px; /*폰트css를 활용하므로 크기도 font-size로 조절*/
    color: #555555;
    position: absolute;
    right: 11px;
    top: 9px;
}
.g_icon .more a:hover {
    border-color: #1A73E8;
    color: #fff;
    background-color: #1A73E8;
}
.g_icon .more a:hover i {
    color: #fff;
}
/*----------------------------------------------------------------------------------------*/
.path .more {
    margin: 80px 0;
}
.path .more a {
    display: inline;
    border: 1px solid #555555;
    padding: 10px 50px 9px 25px;
    border-radius: 25px;
    position: relative; /*a::after의 기준*/
}
.path .more a::after {
    content: "";
    position: absolute;
    right: 11px;
    top: 8px;
    width: 24px;
    height: 24px;   
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 12.5H6.5C6.35833 12.5 6.23958 12.452 6.14375 12.356C6.04792 12.26 6 12.1411 6 11.9992C6 11.8574 6.04792 11.7388 6.14375 11.6433C6.23958 11.5478 6.35833 11.5 6.5 11.5H11.5V6.5C11.5 6.35833 11.548 6.23958 11.644 6.14375C11.74 6.04792 11.8589 6 12.0008 6C12.1426 6 12.2613 6.04792 12.3568 6.14375C12.4523 6.23958 12.5 6.35833 12.5 6.5V11.5H17.5C17.6417 11.5 17.7604 11.548 17.8562 11.644C17.9521 11.74 18 11.8589 18 12.0008C18 12.1426 17.9521 12.2613 17.8562 12.3568C17.7604 12.4523 17.6417 12.5 17.5 12.5H12.5V17.5C12.5 17.6417 12.452 17.7604 12.356 17.8562C12.26 17.9521 12.1411 18 11.9992 18C11.8574 18 11.7388 17.9521 11.6433 17.8562C11.5478 17.7604 11.5 17.6417 11.5 17.5V12.5Z' fill='%23555555'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.path .more a:hover {
    border-color: #1A73E8;
    background-color: #1A73E8;
    color: #fff;
}
.path .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 12.5H6.5C6.35833 12.5 6.23958 12.452 6.14375 12.356C6.04792 12.26 6 12.1411 6 11.9992C6 11.8574 6.04792 11.7388 6.14375 11.6433C6.23958 11.5478 6.35833 11.5 6.5 11.5H11.5V6.5C11.5 6.35833 11.548 6.23958 11.644 6.14375C11.74 6.04792 11.8589 6 12.0008 6C12.1426 6 12.2613 6.04792 12.3568 6.14375C12.4523 6.23958 12.5 6.35833 12.5 6.5V11.5H17.5C17.6417 11.5 17.7604 11.548 17.8562 11.644C17.9521 11.74 18 11.8589 18 12.0008C18 12.1426 17.9521 12.2613 17.8562 12.3568C17.7604 12.4523 17.6417 12.5 17.5 12.5H12.5V17.5C12.5 17.6417 12.452 17.7604 12.356 17.8562C12.26 17.9521 12.1411 18 11.9992 18C11.8574 18 11.7388 17.9521 11.6433 17.8562C11.5478 17.7604 11.5 17.6417 11.5 17.5V12.5Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}
.path .list ul {
    display: flex;
}
.path .list ul li {
    width: 100px;
    margin-right: 10px;
}
.path .list ul li a {
    display: block;
    /*글자의 서체/색상/크기/정렬 - a태그에 주는 것이 좋음*/
    text-align: center;
    position: relative; /*before 정렬의 기준*/
    padding-top: 70px;
}
.path .list ul li a::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: #f4f4f4;
    
}
.path .list ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 17px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto; /*내꺼 지금 아이콘은 서로 사이즈가 달라서 contain 안함*/
}
.path .list ul li.ico1 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.1056 24.6706L11.25 22.2787L6.37281 24.1643C6.19802 24.2343 6.03073 24.2566 5.87094 24.2312C5.71094 24.2058 5.56365 24.1508 5.42906 24.0662C5.29448 23.9814 5.18927 23.8672 5.11344 23.7234C5.03781 23.5794 5 23.4144 5 23.2284V8.01278C5 7.77778 5.05406 7.56987 5.16219 7.38903C5.27031 7.2082 5.42781 7.08174 5.63469 7.00966L10.5819 5.32935C10.6846 5.28768 10.7917 5.25643 10.9031 5.2356C11.0144 5.21476 11.13 5.20435 11.25 5.20435C11.37 5.20435 11.4856 5.21476 11.5969 5.2356C11.7083 5.25643 11.8154 5.28768 11.9181 5.32935L18.75 7.72122L23.6272 5.8356C23.802 5.7656 23.9693 5.7433 24.1291 5.76872C24.2891 5.79414 24.4364 5.84914 24.5709 5.93372C24.7055 6.01851 24.8107 6.13278 24.8866 6.27653C24.9622 6.42049 25 6.58549 25 6.77153V22.0943C25 22.331 24.9339 22.5376 24.8016 22.714C24.6695 22.8903 24.4921 23.0145 24.2694 23.0865L19.3944 24.6947C19.2852 24.7363 19.1784 24.7636 19.0741 24.7765C18.9695 24.7892 18.8608 24.7956 18.7481 24.7956C18.6356 24.7956 18.5277 24.7852 18.4244 24.7643C18.321 24.7435 18.2148 24.7123 18.1056 24.6706ZM18.125 23.3797V8.75466L11.875 6.57216V21.1972L18.125 23.3797ZM19.375 23.3797L23.75 21.9375V7.12497L19.375 8.75466V23.3797ZM6.25 22.875L10.625 21.1972V6.57216L6.25 8.06247V22.875Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico2 a::after {
background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.68563 26.25C5.87021 26.25 5.17708 25.9625 4.60625 25.3875C4.03542 24.8127 3.75 24.1146 3.75 23.2931C3.75 22.5929 3.9724 21.972 4.41719 21.4303C4.86177 20.8886 5.41667 20.5489 6.08187 20.4109V17.3556C6.08187 16.5383 6.37427 15.8373 6.95906 15.2525C7.54406 14.6675 8.24521 14.375 9.0625 14.375H14.375V9.58906C13.71 9.45115 13.1551 9.11135 12.7103 8.56969C12.2655 8.02802 12.0431 7.40708 12.0431 6.70687C12.0431 5.88542 12.3285 5.18729 12.8994 4.6125C13.4702 4.0375 14.1633 3.75 14.9788 3.75C15.7942 3.75 16.4944 4.0375 17.0794 4.6125C17.6644 5.18729 17.9569 5.88542 17.9569 6.70687C17.9569 7.40708 17.7345 8.02802 17.2897 8.56969C16.8449 9.11135 16.29 9.45115 15.625 9.58906V14.375H20.9375C21.7548 14.375 22.4559 14.6675 23.0409 15.2525C23.6257 15.8373 23.9181 16.5383 23.9181 17.3556V20.4109C24.5833 20.5489 25.1382 20.8886 25.5828 21.4303C26.0276 21.972 26.25 22.5929 26.25 23.2931C26.25 24.1146 25.9575 24.8127 25.3725 25.3875C24.7877 25.9625 24.0876 26.25 23.2722 26.25C22.4568 26.25 21.7636 25.9625 21.1928 25.3875C20.622 24.8127 20.3366 24.1146 20.3366 23.2931C20.3366 22.5929 20.559 21.972 21.0037 21.4303C21.4483 20.8886 22.0031 20.5489 22.6681 20.4109V17.3556C22.6681 16.8654 22.5023 16.4544 22.1706 16.1225C21.839 15.7908 21.4279 15.625 20.9375 15.625H15.625V20.4109C16.29 20.5489 16.8449 20.8886 17.2897 21.4303C17.7345 21.972 17.9569 22.5929 17.9569 23.2931C17.9569 24.1146 17.6644 24.8127 17.0794 25.3875C16.4944 25.9625 15.7942 26.25 14.9788 26.25C14.1633 26.25 13.4702 25.9625 12.8994 25.3875C12.3285 24.8127 12.0431 24.1146 12.0431 23.2931C12.0431 22.5929 12.2655 21.972 12.7103 21.4303C13.1551 20.8886 13.71 20.5489 14.375 20.4109V15.625H9.0625C8.57208 15.625 8.16104 15.7908 7.82937 16.1225C7.49771 16.4544 7.33187 16.8654 7.33187 17.3556V20.4109C7.99687 20.5489 8.55167 20.8886 8.99625 21.4303C9.44104 21.972 9.66344 22.5929 9.66344 23.2931C9.66344 24.1146 9.37094 24.8127 8.78594 25.3875C8.20115 25.9625 7.50104 26.25 6.68563 26.25ZM6.69469 25C7.16906 25 7.57417 24.8366 7.91 24.5097C8.24563 24.1828 8.41344 23.7778 8.41344 23.2947C8.41344 22.8114 8.2476 22.4058 7.91594 22.0781C7.58406 21.7504 7.17302 21.5866 6.68281 21.5866C6.21635 21.5866 5.81927 21.7544 5.49156 22.09C5.16385 22.4258 5 22.8269 5 23.2931C5 23.7596 5.16385 24.1606 5.49156 24.4963C5.81927 24.8321 6.22031 25 6.69469 25ZM14.9881 25C15.4623 25 15.8673 24.8366 16.2031 24.5097C16.539 24.1828 16.7069 23.7778 16.7069 23.2947C16.7069 22.8114 16.5409 22.4058 16.2091 22.0781C15.8774 21.7504 15.4664 21.5866 14.9759 21.5866C14.5097 21.5866 14.1127 21.7544 13.785 22.09C13.4571 22.4258 13.2931 22.8269 13.2931 23.2931C13.2931 23.7596 13.4571 24.1606 13.785 24.4963C14.1127 24.8321 14.5138 25 14.9881 25ZM23.2812 25C23.7556 25 24.1606 24.8366 24.4963 24.5097C24.8321 24.1828 25 23.7778 25 23.2947C25 22.8114 24.8342 22.4058 24.5025 22.0781C24.1706 21.7504 23.7596 21.5866 23.2694 21.5866C22.8029 21.5866 22.4058 21.7544 22.0781 22.09C21.7504 22.4258 21.5866 22.8269 21.5866 23.2931C21.5866 23.7596 21.7504 24.1606 22.0781 24.4963C22.4058 24.8321 22.8069 25 23.2812 25ZM14.9881 8.41344C15.4623 8.41344 15.8673 8.25 16.2031 7.92312C16.539 7.59625 16.7069 7.19125 16.7069 6.70812C16.7069 6.22479 16.5409 5.81927 16.2091 5.49156C15.8774 5.16385 15.4664 5 14.9759 5C14.5097 5 14.1127 5.16792 13.785 5.50375C13.4571 5.83937 13.2931 6.24042 13.2931 6.70687C13.2931 7.17312 13.4571 7.57417 13.785 7.91C14.1127 8.24563 14.5138 8.41344 14.9881 8.41344Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico3 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='22' viewBox='0 0 17 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.85714 17.7222H12.1429C12.3157 17.7222 12.4601 17.6639 12.5761 17.5471C12.692 17.4304 12.75 17.2851 12.75 17.1111C12.75 16.9371 12.692 16.7918 12.5761 16.6751C12.4601 16.5584 12.3157 16.5 12.1429 16.5H4.85714C4.68431 16.5 4.53991 16.5584 4.42395 16.6751C4.30798 16.7918 4.25 16.9371 4.25 17.1111C4.25 17.2851 4.30798 17.4304 4.42395 17.5471C4.53991 17.6639 4.68431 17.7222 4.85714 17.7222ZM4.85714 12.8333H12.1429C12.3157 12.8333 12.4601 12.775 12.5761 12.6582C12.692 12.5415 12.75 12.3962 12.75 12.2222C12.75 12.0483 12.692 11.9029 12.5761 11.7862C12.4601 11.6695 12.3157 11.6111 12.1429 11.6111H4.85714C4.68431 11.6111 4.53991 11.6695 4.42395 11.7862C4.30798 11.9029 4.25 12.0483 4.25 12.2222C4.25 12.3962 4.30798 12.5415 4.42395 12.6582C4.53991 12.775 4.68431 12.8333 4.85714 12.8333ZM1.96168 22C1.4027 22 0.936012 21.8116 0.561607 21.4347C0.187202 21.0579 0 20.5881 0 20.0255V1.9745C0 1.41187 0.187202 0.94213 0.561607 0.565278C0.936012 0.188426 1.4027 0 1.96168 0H10.7206C10.9823 0 11.2365 0.0532679 11.4832 0.159805C11.7299 0.266342 11.9412 0.408121 12.1171 0.58514L16.4187 4.91486C16.5945 5.09188 16.7354 5.30455 16.8412 5.55286C16.9471 5.80118 17 6.05703 17 6.32042V20.0255C17 20.5881 16.8128 21.0579 16.4384 21.4347C16.064 21.8116 15.5973 22 15.0383 22H1.96168ZM10.9286 5.12386V1.22222H1.96168C1.77468 1.22222 1.60336 1.30055 1.44773 1.45719C1.2921 1.61384 1.21429 1.78628 1.21429 1.9745V20.0255C1.21429 20.2137 1.2921 20.3862 1.44773 20.5428C1.60336 20.6995 1.77468 20.7778 1.96168 20.7778H15.0383C15.2253 20.7778 15.3966 20.6995 15.5523 20.5428C15.7079 20.3862 15.7857 20.2137 15.7857 20.0255V6.11111H11.9094C11.6275 6.11111 11.3935 6.01751 11.2076 5.83031C11.0216 5.6431 10.9286 5.40762 10.9286 5.12386Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico4 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.6634 20C16.5561 20 14.3959 19.4724 12.1828 18.4172C9.96969 17.3618 7.91354 15.8805 6.01437 13.9734C4.11542 12.0666 2.63823 10.0105 1.58281 7.80531C0.527604 5.6001 0 3.44385 0 1.33656C0 0.954688 0.125 0.636457 0.375 0.381874C0.625 0.127291 0.9375 0 1.3125 0H4.40375C4.74354 0 5.04 0.10698 5.29313 0.320938C5.54646 0.534896 5.71802 0.809375 5.80781 1.14437L6.42781 4.125C6.48552 4.47437 6.4751 4.77969 6.39656 5.04094C6.31802 5.30219 6.17938 5.51615 5.98063 5.68281L3.23812 8.24031C3.75083 9.17135 4.31771 10.0364 4.93875 10.8353C5.55979 11.6343 6.22208 12.391 6.92562 13.1056C7.65146 13.8317 8.43271 14.5068 9.26937 15.1309C10.1058 15.7551 11.0241 16.3445 12.0241 16.8991L14.6972 14.1778C14.9007 13.9582 15.1295 13.8136 15.3834 13.7441C15.6374 13.6743 15.9182 13.6602 16.2259 13.7019L18.8556 14.2403C19.1954 14.3236 19.4711 14.4948 19.6828 14.7537C19.8943 15.0125 20 15.3094 20 15.6444V18.6875C20 19.0625 19.8727 19.375 19.6181 19.625C19.3635 19.875 19.0453 20 18.6634 20ZM2.65156 7.06719L5.05062 4.86062C5.13062 4.79646 5.18271 4.70833 5.20687 4.59625C5.23083 4.48396 5.22677 4.37979 5.19469 4.28375L4.63937 1.63469C4.60729 1.50635 4.55125 1.41021 4.47125 1.34625C4.39104 1.28208 4.28687 1.25 4.15875 1.25H1.59375C1.4975 1.25 1.4174 1.28208 1.35344 1.34625C1.28927 1.41021 1.25719 1.49031 1.25719 1.58656C1.28115 2.44073 1.415 3.3325 1.65875 4.26188C1.90229 5.19146 2.23323 6.12656 2.65156 7.06719ZM13.2141 17.4856C14.0584 17.904 14.9586 18.2132 15.9147 18.4134C16.8705 18.6139 17.7034 18.7212 18.4134 18.7356C18.5097 18.7356 18.5898 18.7035 18.6537 18.6394C18.7179 18.5752 18.75 18.4951 18.75 18.3991V15.8894C18.75 15.7612 18.7179 15.6571 18.6537 15.5769C18.5898 15.4969 18.4936 15.4408 18.3653 15.4087L16.0528 14.935C15.9568 14.9029 15.8727 14.899 15.8006 14.9231C15.7283 14.9471 15.6522 14.9992 15.5722 15.0794L13.2141 17.4856Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.path .list ul li a:hover::before  {
    background-color: #1A73E8;
}
.path .list ul li.ico1 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.1056 24.6706L11.25 22.2787L6.37281 24.1643C6.19802 24.2343 6.03073 24.2566 5.87094 24.2312C5.71094 24.2058 5.56365 24.1508 5.42906 24.0662C5.29448 23.9814 5.18927 23.8672 5.11344 23.7234C5.03781 23.5794 5 23.4144 5 23.2284V8.01278C5 7.77778 5.05406 7.56987 5.16219 7.38903C5.27031 7.2082 5.42781 7.08174 5.63469 7.00966L10.5819 5.32935C10.6846 5.28768 10.7917 5.25643 10.9031 5.2356C11.0144 5.21476 11.13 5.20435 11.25 5.20435C11.37 5.20435 11.4856 5.21476 11.5969 5.2356C11.7083 5.25643 11.8154 5.28768 11.9181 5.32935L18.75 7.72122L23.6272 5.8356C23.802 5.7656 23.9693 5.7433 24.1291 5.76872C24.2891 5.79414 24.4364 5.84914 24.5709 5.93372C24.7055 6.01851 24.8107 6.13278 24.8866 6.27653C24.9622 6.42049 25 6.58549 25 6.77153V22.0943C25 22.331 24.9339 22.5376 24.8016 22.714C24.6695 22.8903 24.4921 23.0145 24.2694 23.0865L19.3944 24.6947C19.2852 24.7363 19.1784 24.7636 19.0741 24.7765C18.9695 24.7892 18.8608 24.7956 18.7481 24.7956C18.6356 24.7956 18.5277 24.7852 18.4244 24.7643C18.321 24.7435 18.2148 24.7123 18.1056 24.6706ZM18.125 23.3797V8.75466L11.875 6.57216V21.1972L18.125 23.3797ZM19.375 23.3797L23.75 21.9375V7.12497L19.375 8.75466V23.3797ZM6.25 22.875L10.625 21.1972V6.57216L6.25 8.06247V22.875Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico2 a:hover::after {
background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.68563 26.25C5.87021 26.25 5.17708 25.9625 4.60625 25.3875C4.03542 24.8127 3.75 24.1146 3.75 23.2931C3.75 22.5929 3.9724 21.972 4.41719 21.4303C4.86177 20.8886 5.41667 20.5489 6.08187 20.4109V17.3556C6.08187 16.5383 6.37427 15.8373 6.95906 15.2525C7.54406 14.6675 8.24521 14.375 9.0625 14.375H14.375V9.58906C13.71 9.45115 13.1551 9.11135 12.7103 8.56969C12.2655 8.02802 12.0431 7.40708 12.0431 6.70687C12.0431 5.88542 12.3285 5.18729 12.8994 4.6125C13.4702 4.0375 14.1633 3.75 14.9788 3.75C15.7942 3.75 16.4944 4.0375 17.0794 4.6125C17.6644 5.18729 17.9569 5.88542 17.9569 6.70687C17.9569 7.40708 17.7345 8.02802 17.2897 8.56969C16.8449 9.11135 16.29 9.45115 15.625 9.58906V14.375H20.9375C21.7548 14.375 22.4559 14.6675 23.0409 15.2525C23.6257 15.8373 23.9181 16.5383 23.9181 17.3556V20.4109C24.5833 20.5489 25.1382 20.8886 25.5828 21.4303C26.0276 21.972 26.25 22.5929 26.25 23.2931C26.25 24.1146 25.9575 24.8127 25.3725 25.3875C24.7877 25.9625 24.0876 26.25 23.2722 26.25C22.4568 26.25 21.7636 25.9625 21.1928 25.3875C20.622 24.8127 20.3366 24.1146 20.3366 23.2931C20.3366 22.5929 20.559 21.972 21.0037 21.4303C21.4483 20.8886 22.0031 20.5489 22.6681 20.4109V17.3556C22.6681 16.8654 22.5023 16.4544 22.1706 16.1225C21.839 15.7908 21.4279 15.625 20.9375 15.625H15.625V20.4109C16.29 20.5489 16.8449 20.8886 17.2897 21.4303C17.7345 21.972 17.9569 22.5929 17.9569 23.2931C17.9569 24.1146 17.6644 24.8127 17.0794 25.3875C16.4944 25.9625 15.7942 26.25 14.9788 26.25C14.1633 26.25 13.4702 25.9625 12.8994 25.3875C12.3285 24.8127 12.0431 24.1146 12.0431 23.2931C12.0431 22.5929 12.2655 21.972 12.7103 21.4303C13.1551 20.8886 13.71 20.5489 14.375 20.4109V15.625H9.0625C8.57208 15.625 8.16104 15.7908 7.82937 16.1225C7.49771 16.4544 7.33187 16.8654 7.33187 17.3556V20.4109C7.99687 20.5489 8.55167 20.8886 8.99625 21.4303C9.44104 21.972 9.66344 22.5929 9.66344 23.2931C9.66344 24.1146 9.37094 24.8127 8.78594 25.3875C8.20115 25.9625 7.50104 26.25 6.68563 26.25ZM6.69469 25C7.16906 25 7.57417 24.8366 7.91 24.5097C8.24563 24.1828 8.41344 23.7778 8.41344 23.2947C8.41344 22.8114 8.2476 22.4058 7.91594 22.0781C7.58406 21.7504 7.17302 21.5866 6.68281 21.5866C6.21635 21.5866 5.81927 21.7544 5.49156 22.09C5.16385 22.4258 5 22.8269 5 23.2931C5 23.7596 5.16385 24.1606 5.49156 24.4963C5.81927 24.8321 6.22031 25 6.69469 25ZM14.9881 25C15.4623 25 15.8673 24.8366 16.2031 24.5097C16.539 24.1828 16.7069 23.7778 16.7069 23.2947C16.7069 22.8114 16.5409 22.4058 16.2091 22.0781C15.8774 21.7504 15.4664 21.5866 14.9759 21.5866C14.5097 21.5866 14.1127 21.7544 13.785 22.09C13.4571 22.4258 13.2931 22.8269 13.2931 23.2931C13.2931 23.7596 13.4571 24.1606 13.785 24.4963C14.1127 24.8321 14.5138 25 14.9881 25ZM23.2812 25C23.7556 25 24.1606 24.8366 24.4963 24.5097C24.8321 24.1828 25 23.7778 25 23.2947C25 22.8114 24.8342 22.4058 24.5025 22.0781C24.1706 21.7504 23.7596 21.5866 23.2694 21.5866C22.8029 21.5866 22.4058 21.7544 22.0781 22.09C21.7504 22.4258 21.5866 22.8269 21.5866 23.2931C21.5866 23.7596 21.7504 24.1606 22.0781 24.4963C22.4058 24.8321 22.8069 25 23.2812 25ZM14.9881 8.41344C15.4623 8.41344 15.8673 8.25 16.2031 7.92312C16.539 7.59625 16.7069 7.19125 16.7069 6.70812C16.7069 6.22479 16.5409 5.81927 16.2091 5.49156C15.8774 5.16385 15.4664 5 14.9759 5C14.5097 5 14.1127 5.16792 13.785 5.50375C13.4571 5.83937 13.2931 6.24042 13.2931 6.70687C13.2931 7.17312 13.4571 7.57417 13.785 7.91C14.1127 8.24563 14.5138 8.41344 14.9881 8.41344Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico3 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='22' viewBox='0 0 17 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.85714 17.7222H12.1429C12.3157 17.7222 12.4601 17.6639 12.5761 17.5471C12.692 17.4304 12.75 17.2851 12.75 17.1111C12.75 16.9371 12.692 16.7918 12.5761 16.6751C12.4601 16.5584 12.3157 16.5 12.1429 16.5H4.85714C4.68431 16.5 4.53991 16.5584 4.42395 16.6751C4.30798 16.7918 4.25 16.9371 4.25 17.1111C4.25 17.2851 4.30798 17.4304 4.42395 17.5471C4.53991 17.6639 4.68431 17.7222 4.85714 17.7222ZM4.85714 12.8333H12.1429C12.3157 12.8333 12.4601 12.775 12.5761 12.6582C12.692 12.5415 12.75 12.3962 12.75 12.2222C12.75 12.0483 12.692 11.9029 12.5761 11.7862C12.4601 11.6695 12.3157 11.6111 12.1429 11.6111H4.85714C4.68431 11.6111 4.53991 11.6695 4.42395 11.7862C4.30798 11.9029 4.25 12.0483 4.25 12.2222C4.25 12.3962 4.30798 12.5415 4.42395 12.6582C4.53991 12.775 4.68431 12.8333 4.85714 12.8333ZM1.96168 22C1.4027 22 0.936012 21.8116 0.561607 21.4347C0.187202 21.0579 0 20.5881 0 20.0255V1.9745C0 1.41187 0.187202 0.94213 0.561607 0.565278C0.936012 0.188426 1.4027 0 1.96168 0H10.7206C10.9823 0 11.2365 0.0532679 11.4832 0.159805C11.7299 0.266342 11.9412 0.408121 12.1171 0.58514L16.4187 4.91486C16.5945 5.09188 16.7354 5.30455 16.8412 5.55286C16.9471 5.80118 17 6.05703 17 6.32042V20.0255C17 20.5881 16.8128 21.0579 16.4384 21.4347C16.064 21.8116 15.5973 22 15.0383 22H1.96168ZM10.9286 5.12386V1.22222H1.96168C1.77468 1.22222 1.60336 1.30055 1.44773 1.45719C1.2921 1.61384 1.21429 1.78628 1.21429 1.9745V20.0255C1.21429 20.2137 1.2921 20.3862 1.44773 20.5428C1.60336 20.6995 1.77468 20.7778 1.96168 20.7778H15.0383C15.2253 20.7778 15.3966 20.6995 15.5523 20.5428C15.7079 20.3862 15.7857 20.2137 15.7857 20.0255V6.11111H11.9094C11.6275 6.11111 11.3935 6.01751 11.2076 5.83031C11.0216 5.6431 10.9286 5.40762 10.9286 5.12386Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico4 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.6634 20C16.5561 20 14.3959 19.4724 12.1828 18.4172C9.96969 17.3618 7.91354 15.8805 6.01437 13.9734C4.11542 12.0666 2.63823 10.0105 1.58281 7.80531C0.527604 5.6001 0 3.44385 0 1.33656C0 0.954688 0.125 0.636457 0.375 0.381874C0.625 0.127291 0.9375 0 1.3125 0H4.40375C4.74354 0 5.04 0.10698 5.29313 0.320938C5.54646 0.534896 5.71802 0.809375 5.80781 1.14437L6.42781 4.125C6.48552 4.47437 6.4751 4.77969 6.39656 5.04094C6.31802 5.30219 6.17938 5.51615 5.98063 5.68281L3.23812 8.24031C3.75083 9.17135 4.31771 10.0364 4.93875 10.8353C5.55979 11.6343 6.22208 12.391 6.92562 13.1056C7.65146 13.8317 8.43271 14.5068 9.26937 15.1309C10.1058 15.7551 11.0241 16.3445 12.0241 16.8991L14.6972 14.1778C14.9007 13.9582 15.1295 13.8136 15.3834 13.7441C15.6374 13.6743 15.9182 13.6602 16.2259 13.7019L18.8556 14.2403C19.1954 14.3236 19.4711 14.4948 19.6828 14.7537C19.8943 15.0125 20 15.3094 20 15.6444V18.6875C20 19.0625 19.8727 19.375 19.6181 19.625C19.3635 19.875 19.0453 20 18.6634 20ZM2.65156 7.06719L5.05062 4.86062C5.13062 4.79646 5.18271 4.70833 5.20687 4.59625C5.23083 4.48396 5.22677 4.37979 5.19469 4.28375L4.63937 1.63469C4.60729 1.50635 4.55125 1.41021 4.47125 1.34625C4.39104 1.28208 4.28687 1.25 4.15875 1.25H1.59375C1.4975 1.25 1.4174 1.28208 1.35344 1.34625C1.28927 1.41021 1.25719 1.49031 1.25719 1.58656C1.28115 2.44073 1.415 3.3325 1.65875 4.26188C1.90229 5.19146 2.23323 6.12656 2.65156 7.06719ZM13.2141 17.4856C14.0584 17.904 14.9586 18.2132 15.9147 18.4134C16.8705 18.6139 17.7034 18.7212 18.4134 18.7356C18.5097 18.7356 18.5898 18.7035 18.6537 18.6394C18.7179 18.5752 18.75 18.4951 18.75 18.3991V15.8894C18.75 15.7612 18.7179 15.6571 18.6537 15.5769C18.5898 15.4969 18.4936 15.4408 18.3653 15.4087L16.0528 14.935C15.9568 14.9029 15.8727 14.899 15.8006 14.9231C15.7283 14.9471 15.6522 14.9992 15.5722 15.0794L13.2141 17.4856Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
}



body {
    margin-bottom: 500px;
}